# DATASET=Ruta/de/la/carpeta/Practica_1/csv/dataset_linux_journalctl_limpio.csv
# STATISTICS_EXCEL=Ruta/de/la/carpeta/Practica_2/estadisticas_journalctl.xlsx
# SQL_INSERTS=Ruta/de/la/carpeta/Practica_2/SQL/inserciones_journalctl.sql
# GRAFICAS=Ruta/de/la/carpeta/Practica_3/Graficas
# GRAFICA_ESTADISTICA=Ruta/de/la/carpeta/Practica_4/Graficas_Estadisticas
# GRAFICA_MODELO_LINEAL=Ruta/de/la/carpeta/Practica_5/Graficas_Modelo_Lineal